/* style.css */
/*body{

} */

a.menu{
width:100px;
height:100px;
background:url('images/icons.jpg') no-repeat;
display:inline-block;
}

a#youtube{
    background-position-x: -450px;
    background-position-y: -40px;
}

a#google{
    background-position-x: -450px;
    background-position-y: -230px;
}

a#canvas{
    background-position-x: -450px;
    background-position-y: -420px;
}
a#youtube:hover{
    background-position-y: -1px;
}


#Myface{
    width:150px;
    height:150px;
    border-top:5px solid black;
    border-bottom:5px solid black;
    border-left:5px solid black;
    border-right:5px solid black;
    border-radius: 10px;
    
}
