
#main{
    
    width:500px;
    min-height: 500px;
    margin:auto;
    padding:80px;
    padding-top:40px; 
    border: 2px solid black;
}

#entry{
    font-size:1.2em;
    border: 2px solid black;
    padding: 50px;
}
#entry div{  
    width:500px;
    margin:auto;
    
}

#entry div input{    
    padding:5px;
    width:200px;
    margin-bottom:5px;
    text-align: center;
    border: 2px solid black;
}

#entry div button{
    padding:5px;
    min-width:100px;
    display:inline-block;
    margin-left: 190px;
    text-align: center;
}

#entry div p{
   width: 70px;
   margin:0;
   margin-right: 0px;
   display:inline-block;
   text-align: center;
   
}

.buttons{
    background-color:greenyellow;
    text-align: center;
    width:100%;
    height: 100%;
    
}

#data{
    text-align: center;
    border-collapse: collapse;
    
}
#datax input{
    background:0;
    width: 100%;
    height: 100%;
    border-color: 0;
    text-align: center;
    border-collapse: collapse;
    
}
/*
tr:first-child{
    background-color: #a90;
}

tr:nth-child(3){
    background-color: #a90;
}

div:nth-child(3){
    background-color: #a90;
}

#entry div:first-child(3){
    background-color: #a90;
}
*/
#ic{
    margin-top:0px;    
    
}

#table th nobutton{
    background: 0;
    border: 1;
    border-collapse: collapse;
   
}

/*#datax tr:nth-child(odd){ /*홀
    background: greenyellow;
}
*/
#datax tr:nth-child(even){ /*짝*/
    background:greenyellow;
    
}


th button{
    border: 0;
    border-collapse: collapse;
    
}

#last{
    text-align: center;
    font-size: 25px;
}

#datax{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
}
.svgani{
    height: 100px;
    animation-name: key;
    animation-duration: 2.25s;
    
    
}
@keyframes key{
    0%{
        height: 0px; 
    }
    
    
    40%{
        height: 80px; 
    }
    50%{
        height: 100px; 
    }
    
    
   90%{
        height: 50px; 
    }
    100%{
        height: 100px; 
    }
}


  
 

svg rect{
    stroke: black;
    stroke-width: 2px; 
    fill: white;
}

svg text{
    font-size: 40px;
}

